In [ ]:
import pandas as pd
import os
import re
import glob

In [ ]:
sch_csv_path = '/content/drive/MyDrive/Schizophrenia Csv/sch_csv.csv'
norm_csv_path = '/content/drive/MyDrive/Schizophrenia Csv/norm_csv.csv'

In [ ]:
sch_csv = pd.read_csv(sch_csv_path)
norm_csv = pd.read_csv(norm_csv_path)

In [ ]:
sch_csv.head()

   Unnamed: 0      F7      F3      F4  ...      P4      T6      O1      O2
0           0 -252.08 -134.44   33.61  ... -277.28  -50.42  117.64 -277.28
1           1 -176.45  -33.61  134.44  ... -117.64  -50.42  336.10 -134.44
2           2  -16.81  176.45  394.92  ...  159.65   58.82  394.92   75.62
3           3   67.22  319.30  512.55  ...  319.30  176.45  336.10  176.45
4           4  327.70  672.20  756.23  ...  596.58  159.65  453.74  378.11

[5 rows x 17 columns]

In [ ]:
norm_csv.head()

   Unnamed: 0      F7      F3      F4  ...      P4      T6       O1      O2
0           0  148.97  488.69  419.08  ...  258.96  199.10   409.33  268.71
1           1  109.99  349.46  318.83  ...   29.24   59.87   119.74    0.00
2           2   48.73  119.74   79.36  ... -370.35 -111.38  -490.08 -490.08
3           3   29.24   89.11  -20.88  ... -501.22 -171.25  -781.07 -611.21
4           4   69.61  148.97  -20.88  ... -501.22 -111.38 -1010.80 -590.33

[5 rows x 17 columns]

In [ ]:
sch_csv.shape, norm_csv.shape

((345600, 17), (299520, 17))

In [ ]:
sch_csv.drop('Unnamed: 0', axis = 1, inplace=True)
norm_csv.drop('Unnamed: 0', axis = 1, inplace=True)

In [ ]:
sch_csv.shape, norm_csv.shape

((345600, 16), (299520, 16))

In [ ]:
sch_csv['target'] = 1
norm_csv['target'] = 0

In [ ]:
sch_csv.shape, norm_csv.shape

((345600, 17), (299520, 17))

In [ ]:
sch_csv.head()

       F7      F3      F4      F8  ...      T6      O1      O2  target
0 -252.08 -134.44   33.61   92.43  ...  -50.42  117.64 -277.28       1
1 -176.45  -33.61  134.44   92.43  ...  -50.42  336.10 -134.44       1
2  -16.81  176.45  394.92  159.65  ...   58.82  394.92   75.62       1
3   67.22  319.30  512.55  218.47  ...  176.45  336.10  176.45       1
4  327.70  672.20  756.23  453.74  ...  159.65  453.74  378.11       1

[5 rows x 17 columns]

In [ ]:
norm_csv.head()

       F7      F3      F4      F8  ...      T6       O1      O2  target
0  148.97  488.69  419.08  109.99  ...  199.10   409.33  268.71       0
1  109.99  349.46  318.83   79.36  ...   59.87   119.74    0.00       0
2   48.73  119.74   79.36   19.49  ... -111.38  -490.08 -490.08       0
3   29.24   89.11  -20.88  -20.88  ... -171.25  -781.07 -611.21       0
4   69.61  148.97  -20.88  -20.88  ... -111.38 -1010.80 -590.33       0

[5 rows x 17 columns]

In [ ]:
sch_csv['target'].unique(), norm_csv['target'].unique()

(array([1]), array([0]))

In [ ]:
df_concatenated = pd.DataFrame()

In [ ]:
df_concatenated = pd.concat([sch_csv, norm_csv], axis=0, ignore_index=True)

In [ ]:
df_concatenated.shape

(645120, 17)

In [ ]:
df_concatenated.head()

       F7      F3      F4      F8  ...      T6      O1      O2  target
0 -252.08 -134.44   33.61   92.43  ...  -50.42  117.64 -277.28       1
1 -176.45  -33.61  134.44   92.43  ...  -50.42  336.10 -134.44       1
2  -16.81  176.45  394.92  159.65  ...   58.82  394.92   75.62       1
3   67.22  319.30  512.55  218.47  ...  176.45  336.10  176.45       1
4  327.70  672.20  756.23  453.74  ...  159.65  453.74  378.11       1

[5 rows x 17 columns]

In [ ]:
df_concatenated.to_csv(r"schizophrenia_final_csv.csv")