In [ ]:
import pandas as pd
import os
import re
import glob

In [ ]:
inpDir = '/content/drive/MyDrive/Schizophrenia'

In [ ]:
inpDir = '/content/drive/MyDrive/Schizophrenia'
os.chdir(inpDir+"/sch")
lst = ['F7','F3','F4','F8','T3','C3','Cz','C4','T4','T5','P3','Pz','P4','T6','O1','O2']

iteration = 1
buffer = 7680

df_empty =  pd.DataFrame(columns=lst)
df_concatenated = pd.DataFrame()

all_files = glob.glob("*.eea")

In [ ]:

for a in range(len(all_files)):

    df = pd.read_csv(all_files[a],header=None)
    emptyList = []

    for index, row in df.iterrows():

      upperBound = iteration * buffer

      if index < upperBound :

        emptyList.append(row[0])

      else :
        
        df_empty[lst[iteration - 1]] = emptyList
        emptyList = []
        emptyList.append(row[0])
        iteration = iteration + 1


    df_empty[lst[iteration - 1]] = emptyList
    df_concatenated = pd.concat([df_concatenated, df_empty], axis=0, ignore_index=True)
    iteration = 1

In [ ]:
df_concatenated

            F7      F3      F4      F8  ...      P4      T6      O1      O2
0      -252.08 -134.44   33.61   92.43  ... -277.28  -50.42  117.64 -277.28
1      -176.45  -33.61  134.44   92.43  ... -117.64  -50.42  336.10 -134.44
2       -16.81  176.45  394.92  159.65  ...  159.65   58.82  394.92   75.62
3        67.22  319.30  512.55  218.47  ...  319.30  176.45  336.10  176.45
4       327.70  672.20  756.23  453.74  ...  596.58  159.65  453.74  378.11
...        ...     ...     ...     ...  ...     ...     ...     ...     ...
345595  302.55  558.55  453.83  116.37  ...  -34.91  -58.18 -139.64    0.00
345596  325.82  593.46  442.19   81.46  ...  -34.91 -174.55  116.37 -116.37
345597  349.10  640.01  407.28    0.00  ...  -58.18 -279.28  232.73 -116.37
345598  360.73  768.01  279.28    0.00  ...  -93.09 -360.73  372.37   11.64
345599  302.55  721.47  209.46   46.55  ...  -93.09 -314.19  372.37   93.09

[345600 rows x 16 columns]

In [ ]:
fpath = "/content/drive/MyDrive/Schizophrenia/norm/s12w1.eea"
df_1 = pd.read_csv(fpath,header=None)
df_1.head()

        0
0  -30.06
1  -70.74
2  -90.19
3   29.18
4  229.90

In [ ]:

fpath = "/content/drive/MyDrive/Schizophrenia/norm/S18W1.eea"
df_2 = pd.read_csv(fpath,header=None)
df_2.head()

        0
0   26.43
1  147.27
2  207.69
3   86.85
4  -30.21

In [ ]:
df_concatenated.iloc[7679]

F7    -92.43
F3    -92.43
F4   -142.84
F8   -201.66
T3     75.62
C3   -151.25
Cz   -184.86
C4   -126.04
T4   -193.26
T5     84.03
P3     16.81
Pz    -84.03
P4   -386.52
T6   -285.69
O1     25.21
O2   -520.96
Name: 7679, dtype: float64

In [ ]:
df_1.iloc[7679]

0   -50.4
Name: 7679, dtype: float64

In [ ]:
df_concatenated.to_csv(r"sch_csv.csv")